  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;  /*모든 속성의 마진값, 패딩값이 0으로 설정되어 있음*/
  box-sizing: border-box;
  font-size: 100%;  /*모든 폰트 사이즈 동일, 기본값이 16픽셀 */
  scroll-behavior: smooth;
	font-family: myFont;
}
@font-face {
  font-family: myFont;
  src: url('media/ABCLaica-Regular-Trial.otf');
	}
html, body{
  height:  100%;
  /*background-color: *//*RGB(213, 210, 210); *//*#d4ccc9;*/
  background-color: #2e3192; 
  overflow: hidden;
    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;  
}

#dark_body{
	background-color: #050012 /*E5E8EE*/;
}
.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}
mobile{
	display: none;
}
 
 
 

/*index.html*/
a{
	text-decoration: none;
}
#tape {
	width: 285px; 
	margin-top: 2px;
	margin-left: -35px;
}
#texts { 
	height: 50px;

 }
.get{
 	height: 25px;
 }
.get:hover{
 	filter: saturate(20%);
 }
 
.content{
	width: 100vw;
	height: 100vh; 
	overflow: hidden;
	background: url('images/bg_web.png') ; 
	background-size: 100vw auto;
	background-position: 0px -50px;
	display: flex;
	flex-direction: column;

}

.top{
		display: flex;
	flex-direction: row;
	padding: 20px 20px;
}

.mid{
	text-align: center;
	height: 30vh;
	align-self: center;
}
.mid_play{ 
	height: 30vh;
	display: flex;
	flex-direction: row;
	padding: 20px 20px;
} 
 .bottom{
 	height: 10vh;
 	align-self: center;
 } 
  
  @keyframes shine {
    0% { background-position: 0% 0%; }  
    100% { background-position: 300% 100%; }
}
#collective{
	height: 50px;
} 

#name{
	height: 50px;
}
#name:hover{
	filter: invert(50%);
	box-shadow:   1px 1px 1px #afa371; 

}
 
#enter{
	font-size: 24px;
	color: black;
	background: #e6e6e6;
}
flexbox{
	display: flex;
	width: 322px;
	height: 483px; 
	position: absolute; 
	left: 50%;
	padding:  0vw; 
	transform:  translateX(-50%);
	flex-direction: column;
	justify-content: center;  
}
 
   
 
 
/*main*/ 
  
layer{
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
	 
} 

#mags{ 
	/*margin: 118px 0px;*/   
	background: url('images/bg_web.png') ;
	background-size: 100vw 100vh; 
 }
 
     
  
.download{ 
  	background: whitesmoke;
  	display: flex;
  	flex-direction: column;
  	align-self: center;
  	justify-content: start;
  	padding-top: 50px;
  }

#tracklist{
		display: flex;
  	flex-direction: row;
   	width: 95%;
  	align-self: center; 
  	margin-top: 20px;
} 

#artists{
	align-self: flex-start;
	color: #2E3192;
	text-shadow:   1px 1px 1px   #fff;
	justify-self: center;
	width: 50%;

} 

#artists img{
	height: 32px;
	margin-left: 5px;
	display: flex;
	flex-direction: column;
		justify-self: center;

}
#runningtime{
 	color: #2E3192;
 	font-size: 11pt;
 	font-family: myFont;

} 
  

.audio-player { 
	width: 100vw;
  height: 20vh;  
 	align-self: center;
  font-family: myFont;
  color:  black;
  font-size: 2em;
  overflow: hidden;

  display: grid;
  grid-template-rows: 20px 48px;
  .timeline {
    background: #e6e6e6;
    width: 100vw; 
    cursor: pointer; 
  .progress {
      background: #2E3192;
      width: 0%;
      height: 100%;
      transition: 0.25s;
    }
  }
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px;

    > * {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .toggle-play {
      &.play {
        cursor: pointer;
        position: relative;
        left: 250px;
        height: 0;
        width: 0;
        border: 14px solid #0000;
        border-left: 26px solid #2E3192;
        &:hover {
          transform: scale(1.1);
        }
      }
      &.pause {
        height: 24px;
        width: 28px;
        cursor: pointer;
        position: relative;
        &:before {
          position: absolute;
          top: 0;
          left: 250px;
          background: #2E3192;
          content: "";
          height: 26px;
          width: 10px;
        }
        &:after {
          position: absolute;
          top: 0;
          right: -250px;
          background: #2E3192;
          content: "";
          height: 26px;
          width: 10px;
        }
        &:hover {
         }
      }
    }
    .time {
      display: flex; 

      > * {
        padding: 2px;
      }
    }
    .volume-container {
      cursor: pointer;
      .volume-button {
        height: 26px;
        display: flex;
        align-items: center;
        .volume {
          transform: scale(0.7);
        }
      }

      position: relative;
      z-index: 2;
      .volume-slider {
        position: absolute;
        left: -3px;
        top: 15px;
        z-index: -1;
        width: 0;
        height: 15px;
        background: transparent; 
        transition: 0.25s;
        .volume-percentage {
          background: #D5FFCB;
          height: 100%;
          width: 75%;
        }
      }
      &:hover {
        .volume-slider {
          left: -123px;
          width: 120px;
        }
      }
    }
  }
}

#credit{
	height: 20px;
	color: #e6e6e6;
	display: block;
} 
.mid_play a{
	text-decoration: none;
} 

.mid_play a:hover{
	color: #e6e6e6;
	text-decoration: underline;
}
.sunlink: hover{
	color: black;

}
#null{
	width: 50%;

}  

#dl-link{
	position: relative;
	top: 42px;
 	width: 150px;
	align-self: center;
	padding:3px 27px;
	background: #D8E7AD;
	box-shadow: 0 0 3px 4px rgba(46,49,146,0.1)   inset;
	text-decoration: none;  
	font-size: 11pt;
}

#tracklist-dl{ 
	align-self: center;  
}
 
#dl-link:hover{
		box-shadow: 0 0 5px 7px rgba(46,49,146,0.2) inset;

}

#sevv_ig{
	width: 200px;
}
#sevv_ig:hover{
	filter: brightness(30);
}
/*mobile*/
@media ( max-width: 414px ) {
	body{ 
	}
   
}
